<div class="status">
  <div class="container">
    <ul class="status-list">
      <li class="status-list__item">
        <div class="status-list__item-title">10.64 EUR</div>
        <div class="status-list__item-text">Last trade price</div>
      </li>
      <li class="status-list__item">
        <div class="status-list__item-title status-list__item-title--green">+ 0.66%</div>
        <div class="status-list__item-text">24h price</div>
      </li>
      <li class="status-list__item">
        <div class="status-list__item-title">19.896 ETC</div>
        <div class="status-list__item-text">24h volume</div>
      </li>
    </ul>
  </div>
</div>
