<div class="table">
  <div class="table-trade">
    <div class="table-header">
      <div class="table-header__title">Trade History</div>
    </div>
    <div class="table-content">
      <div class="table-content__row heading">
        <div class="table-content__col">
          Trade Size
        </div>
        <div class="table-content__col">
          Price (EUR)
        </div>
        <div class="table-content__col">
          Time
        </div>
      </div>
      <div class="table-content__row" *ngFor="let row of tradesTable">
        <div class="table-content__col">
          {{row.tradeSize}}
        </div>
        <div class="table-content__col" [ngClass]="row.priceDynamic">
          {{row.price}}
        </div>
        <div class="table-content__col dark">
          {{row.time}}
        </div>
      </div>
    </div>
  </div>
</div>
