:host {

  .header {
    height: 45px;
    background-color: rgb(25, 33, 38);
    border-bottom: 1px solid #000;
    width: 100%;

    @media (min-width: 768px) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 0 28px;
    }

    &__logo {
      width: 19px;
      height: 31px;
      background: url('../../../assets/img/logo-mobile.svg') center no-repeat;
      background-size: contain;

      @media (min-width: 768px) {
        width: 115px;
        height: 20px;
        background: url('../../../assets/img/logo.svg') center no-repeat;
        background-size: contain;
      }
    }

    &__currency {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      @media (min-width: 768px) {
        justify-content: flex-start;
        position: fixed;
        top: 45px;
        left: 0;
        z-index: 2;
        width: 260px;
        height: 45px;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        background-color: rgb(25, 33, 38);
        padding: 0 28px;
      }

      &-control {
        display: inline-block;
        width: 21px;
        height: 21px;
        background: url('../../../assets/img/bitcoin.svg') center no-repeat;
        background-size: contain;
        margin-right: 5px;

        @media (min-width: 768px) {
          margin-right: 10px;
        }
      }

      &-text {
        color: #fff;
        font-size: 14px;
        margin-right: 10px;
      }

      &-arrow {
        display: inline-block;
        transform: rotate(45deg);
        margin-bottom: 2px;
        padding: 2px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-image: initial;
        border-width: 0 2px 2px 0;

        @media (min-width: 768px) {
          position: absolute;
          right: 28px;
          top: 50%;
          transform: rotate(45deg) translateY(-50%);
        }
      }
    }

    &__button {
      border: 1px solid rgba(255, 255, 255, 0.4);
      background-color: rgb(21, 35, 44);

      &-link {
        display: inline-block;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.4);
        padding: 3px 40px;
      }
    }
  }

}